#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.bg{
    position: absolute;
    z-index: -1;
    top:-4rem ;
    right:0;
    object-fit: cover;
    height:100%;
    width: 50%;
}

.introcontent{
    height: 100vh;
    width:100vw;
    padding:2rem;
    font-size: 3rem;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* transition: all 0.3s ease; */
}


.hello{
    font-size: 1.5rem;
    font-weight: 100;
}

.introname{
    color: rgb(150, 150, 150);
}

.intropara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border:none;
    border-radius:2rem;
    gap: 5px;
    cursor: pointer;
}

/* i added this by myself */

/* .btn:hover {
    background: rgb(240, 240, 240);
    cursor: pointer;
    transition: 0.3s ease;
} */
/* ends here */

.hiremeimg{
    object-fit: cover;
    width: 1rem;
    margin: 0 0.25rem;

}




@media screen and (max-width: 840px) {
    .introcontent {
        /* font-size: 2rem; */
        font-size: 10vw;
        /* padding: 1rem; */
    }

    .hello{
        font-size: 4.5vw;
    }

    .bg {
        width: 100vw;
        /* height: auto; */
        /* top: 0; */
        right: -4vw;
        opacity: 0.5;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}


@media screen and (max-width: 450px) {

    .bg {
        width: 100vw;
        /* height: auto; */
        /* top: 0; */
        right: -1vw;
        /* opacity: 0.6; */
    }


}


